* {
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
}

/* import work sans fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Poppins:wght@500&family=Work+Sans:wght@400;500&display=swap');

body {
    font-family: 'Work Sans', sans-serif;
}

header {
    padding: 20px 228px;
    background: rgba(255, 144, 14, 0.1);
}

/* Nav style start*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;

}

nav span ul {
    display: flex;
    list-style: none;
}

nav span a {
    text-decoration: none;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;

}

nav span ul li a {
    margin-left: 34px;
    text-decoration: none;
    font-size: 18px;
    line-height: 26px;
    color: #424242;

}

/* nav style end */

/* banner style start */
.banner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    gap: 50px;

}

.banner>div {
    flex: 1;
}

.banner-title {
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    color: #131313;
    margin-top: 116px;
}

.banner-description {
    text-align: center;
}

.banner-description p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
}

.button-primary {
    margin-top: 32px;
    width: 180px;
    height: 64px;
    color: white;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    background: #FF900E;
    border-radius: 4px;
}

.banner-image img {
    width: 100%;
}

/* Banner-end */

/* main section start */
main,
footer {
    padding: 130px 240px;
}

/* feature section start */
.feature-section {
    display: flex;
    align-items: center;
    gap: 73px;
}

.feature-section>div {
    flex: 1;
}

.image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.image-container img {
    width: 100%;
}

.feature-title {
    font-weight: 500;
    font-size: 45px;
    line-height: 53px;
    color: #727272;

}

.color-black {
    color: #131313;
}

.primary-color {
    color: #FF900E;
}

.features p {
    margin-top: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;

}

/* feature section end */


/* feature u will love & enjoy start */
.feature-second-section {
    margin: 130px 0;
    display: flex;
    justify-content: space-between;
    gap: 146px;

}

.feature-second-section>div {
    flex: 1;
}

.feature-second-section img {
    width: 100%;
}

.section-heading {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    padding: 5px;
    color: #131313;
    border-left: 4px solid #FF900E;

}

.feature-container p,
.feature-list p {
    margin-top: 24px;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;

}

.feature-list {
    padding: 30px;
    margin-top: 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}

.feature-heading {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #131313;

}

.experience {
    padding: 20px 32px;
    width: 200px;
    background-color: #FF900E;
    color: white;
    position: relative;
    text-align: center;
    top: -55px;
    left: -50px;
    border-radius: 8px;
}

/* feature u will love & enjoy end */

/* some facts section start */
.fact-section {
    margin-top: 55px;

}

.fact-section h2 {
    border-left: 0;
    padding-left: 0;
}

.fact-section p {
    max-width: 524px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-bottom: 2em;
}

.facts-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 30px;
}

.fact {
    padding: 35px 45px;
    text-align: center;
    border: 1px solid #FF900E;
    border-radius: 8px;


}

/* adding animation */
.fact:hover {
    transform: rotate(45deg);
    transition-duration: 2s;
    background-color: rgb(241, 204, 210);
}

.fact h1,
p {
    margin-top: 10px;
}

/* some facts section end */

/* sponsors section start */
.sponsors-section {
    margin-top: 180px;
    margin-bottom: 130px;
}

.sponsors-section h2 {
    border-left: 0;
    text-align: center;
}

.sponsors-section p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    text-align: center;
}

.sponsors-container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    gap: 10px;

}

.sponsors-container div {
    padding: 0 20px;
}

.sponsors-container img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    width: 100%;
}

.sponsors-container>img {
    flex: 1;
}

/* sponsors section end */

/* contact section start */
.contact-us h2 {
    margin-bottom: 30px;
    text-align: center;
    border-left: 0;
}

.contact {
    display: flex;
    gap: 50px;
    align-items: center;
    background: rgba(255, 144, 14, 0.1);
    padding: 30px;
}

.contact>div {
    flex: 1;
}

.contact .heading {
    font-size: 30px;
    font-weight: 700;
}

.section-description {
    color: gray;
}

.contact input[type="text"],
input[type="email"],
textarea {
    margin-top: 10px;
    padding: 0 7px;
    width: 95%;
    border-radius: 4px;
}

input {
    height: 50px;
}

/* contact section end */

/* footer */
footer {
    padding-top: 0;
}

.footer {
    height: 100px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    background: #FFF4E7;
    border-radius: 8px;
    color: #424242;
    display: flex;
    padding: 0 10px;
    align-items: center;
    justify-content: center;
}


/* making website responsive for mobile or small devices */
@media screen and (max-width:576px) {

    nav,
    nav span ul {
        flex-direction: column;
        margin-top: 0;

        align-items: flex-start;
    }

    header,
    main,
    footer {
        padding: 20px;
    }



    nav span a {
        text-decoration: none;
        font-weight: 700;
        font-size: 25px;
        line-height: 53px;
    }

    .banner-title {
        font-size: 40px;
        line-height: 50px;
        margin-top: 50px;
    }

    .feature-section,
    .feature-second-section,
    .contact {
        flex-direction: column;
        gap: 30px;
    }

    .features {
        text-align: center;
    }

    .fact-section h2,
    p,
    .sponsors-section h2,
    p {
        text-align: center;
    }

    .sponsors-section,
    .fact-section,
    .feature-second-section {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .image-container,
    .facts-container,
    .sponsors-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }

    .experience {
        left: -20px;
    }

}

/* making responsive for medium devices / Tab */

@media screen and (min-width:577px) and (max-width:992px) {


    nav,
    nav span ul {
        flex-direction: column;
        margin-top: 0;

        align-items: flex-start;
    }

    header,
    main,
    footer {
        padding: 20px;
    }


    nav span a {
        text-decoration: none;
        font-weight: 700;
        font-size: 25px;
        line-height: 53px;
    }

    .banner-title {
        font-size: 40px;
        line-height: 50px;
        margin-top: 50px;
    }

    .feature-section,
    .feature-second-section {
        flex-direction: column;
        gap: 30px;
    }

    .features {
        text-align: center;
    }

    .fact-section h2,
    p,
    .sponsors-section h2,
    p {
        text-align: center;
    }

    .sponsors-section,
    .fact-section,
    .feature-second-section {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .image-container,
    .facts-container,
    .sponsors-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    .experience {
        left: -20px;
    }

}